<%- include('headerin'); -%>
<div class="tablecontain">
  <div class="leadtop">
  <h1 class="lb">Leaderboard</h1>
  <% if (locals.success==='true') { %>
   <h1 class="lb" style="color:green">Attack Successful!</h1>
  <% } else if (locals.success==='false') { %>
    <h1 class="lb" style="color:red">Attack Unsuccessful!</h1>
  <% }else if (locals.success==='no') {%>
    <h1 class="lb" style="color:red">You can't attack the target</h1>
  <% } %>
  </div>
<table>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th> Points</th>
    <!-- <% if (locals.team.dpVisible===true) { %>
     <th>DP</th>
    <% } %>
    <th></th> -->
  </tr>
  <% locals.allteams.forEach( function (element){ %> <% if
  ((element._id).toString()===(locals.team._id).toString()) { %>
  <tr <% if (allteams.indexOf(element)%2!=0) { %>
      style="background-color:#3C3838" <% }else{ %>
      style="background-color:#191919" <% }%>>
    <td><%- allteams.indexOf(element)+1 %></td>
    <td style="color:#78bd47">You</td>
    <td><%- element.fp %></td>
        <!-- <% if (locals.team.dpVisible===true) { %>
         <td><%- element.dp %></td>
        <% } %>
    <td></td> --> 
  </tr>
  <% }else{ %>
  <tr <% if (allteams.indexOf(element)%2!=0) { %>
      style="background-color:#3C3838" <% }else{ %>
      style="background-color:#191919" <% }%> >
    <td><%- allteams.indexOf(element)+1 %></td>
    <td><%- element.name %></th>
    <td><%- element.fp %></td>
            <% if (locals.team.dpVisible===true) { %>
            <td><%- element.dp %></td>
            <% } %>

  </tr>
  <% }}) %>
</table>
</div>

<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
></script>
<script src="/js/cta.min.js"></script>
<script src="/js/tw.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>

<%- include('footer'); -%>
